<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/tabs/teams']">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="user">
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center"
        >User information</ion-card-subtitle
      >
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="fixed">Name</ion-label>
          <ion-input name="name" readOnly required [(ngModel)]="user.name">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Email</ion-label>
          <ion-input name="email" readOnly required [(ngModel)]="user.email">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Team</ion-label>
          <ion-input name="team" readOnly required [(ngModel)]="user.teamName">
          </ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
