<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Teams Overview
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-row>
        <ion-col size="8">
          <ion-card-title>Team Members</ion-card-title>
        </ion-col>
        <ion-col>
          <ion-button (click)="addMember()" size="small"
            >Add member</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let member of members" lines="full">
          <ion-icon
            *ngIf="member.sex == 'm'"
            slot="start"
            color="medium"
            name="man"
          ></ion-icon>
          <ion-icon
            *ngIf="member.sex == 'f'"
            slot="start"
            color="medium"
            name="woman"
          ></ion-icon>
          <ion-label>{{ member.name }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title text-center>QR code of your team</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img
        style="width:200px; height:200px; margin: 0 auto"
        src="../../assets/qr-code.png"
      ></ion-img>
    </ion-card-content>
  </ion-card>

  <ion-row>
    <ion-label *ngIf="maxMembers" color="danger"
      >Maximum number of members reached</ion-label
    >
  </ion-row>
</ion-content>
