<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Competition Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle text-center>Total trash collected (Kg)</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="height: 250px">
      <canvas #barChart></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle text-center>Today's competition</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let team of teams; let i = index">
          <ion-grid>
            <ion-row>
              <ion-col size="7">
                  #{{ i + 1 }} {{ team.name }}
              </ion-col>
              <ion-col size="5"> tpp: {{ team.tpp }}kg </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item class="your-team">
          <ion-grid>
            <ion-row>
              <ion-col size="7"> #17 Your Team </ion-col>
              <ion-col size="5"> tpp: 1.2kg </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
